.homepage {
  text-align:center;
    }
  .homepage p{
    color:white;
    bottom: 0;
    font-family: "Garamond",Serif;
    font-size: 30px;
    line-height: 2; 
    font-weight: bold; 
    margin: 50px;  
  }
    .container {
    padding: 200px; 
      background-color: #2e316a; 
      padding: 100px; 
      border: 20px solid #020042; 
      border-radius: 80px; 
      width: 800px;
      height: 700px;
      margin: auto;
    }
  .bell img{
      max-width: 30%;
      max-height: 25%;
      position: relative;
      bottom: 5px;
      right: 175px;
    }
  .bell button{
  position: relative;
  right: 360px;
  top: 10px;
  }
  .summary img{
    width: 900px;
    height: 500px;
    position: relative;
    bottom: 430px;
    left: 170px;
  }
  .summary button{
  position: relative;
  left: 220px;
  bottom: 550px;
  }
  .inventory img{
    max-width: 24%;
    max-height: 25%;
    position: relative;
    bottom: 330px;
    right: 200px;
  }
  .inventory button{
  position: relative;
  right: 340px;
  bottom: 300px;
  }
  .signin img{
    max-width: 30%;
    max-height: 25%;
    position: relative;
    bottom: 580px;
    left: 280px;
  }
  .signin button{
  position: relative;
  left: 100px;
  bottom: 560px;
  }
    button {
      padding: 7.5px 10px;
      background-color: #333;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
  
    button:hover {
      background-color: #555;
    }
  